.performancecontainer {
    margin: auto;
    padding-top: 25px;
    height: 80%;
}

.performance {
    height: 50%;
    overflow-y: scroll;
}

.line-graph-legend {
    font-weight: bold;
    font-size: 20px;
    /* display: inline-block; */
    overflow: hidden;
    margin: 0px 20px;
}

.line-graph-legend-key {
    padding-left: 5px;
}

.performance table {
    width: 100%;
}