.scorescontainer {
    margin: auto;
    padding-top: 25px;
    height: 80%;
}

.scores {
    height: 50%;
    overflow-y: scroll;
}

.score {
    margin: auto;
    overflow-x: hidden;
}

.scoresection {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.playername {
    font-weight: bold;
    padding-top: 25px;
    width: 50%
}

.playerscore {
    padding-left: 40px;
    padding-top: 25px;
    width: 25%;
    font-weight: bold;
}

.even {
    background-color: #ffffff;
}

.odd {
    background-color: #e3dcdc;
}

.expand {
    margin-top: 15px;
}