.supersix {
    width: 100%;
}

.hidden {
    display: none;
}

.supersix-container {
    width: 75%;
    position: fixed;
    left: 13%
}

.supersix-menu {
    background-color: #babab6;
    overflow: hidden;
    border: 1px solid black;
    height: 50px;
}

.supersix-menu-button {
    background-color: inherit;
    float: left;
    border: None;
    font-size: 25px;
    padding: 10px 10px;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
    width: 50%
}

.supersix-menu-button:hover {
    background-color: #878782;
}

.supersix-menu-button.active {
    background-color: #878782;
}