.userlogin-container {
    margin: auto;
    font-weight: bold;
    color: #ccccc3;
}

.userlogin-container input {
    background-color: #454242;
    color: #ccccc3;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.userlogin-submit {
    width: 75px;
}